body{
    overflow: hidden;
    margin: 0;
    background-image: url("../Pictures/bg.jpg");
}
.attack_field{
    height: 800px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    opacity: 0;
}

.attack_field:hover{
    background-color: firebrick;
    opacity: 30%;
}

#health_bar{
    padding: 0;
    margin: 0;
    background-color: red;
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#health_bar:hover{
    width: 100px;
}

#defence_bar{
    padding: 0;
    margin: 0;
    background-color: green;
    height: 100px;
    width: 350px;
    position: absolute;
    bottom: 20px;
    left: 300px;
}
#defence_bar:hover{
    width: 175px;
}
.enemySkeleton{
    z-index: -99;
    top: 100px;
    position: absolute;
    animation-name: enemy_Skeleton_movement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: block;
}
.enemyAppear{
    animation-name: enemy-appear;
    animation-duration: 500ms;
}

@keyframes enemy-appear {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% { opacity: 100 }
}

@keyframes enemy_Skeleton_movement{
    0% {left: 35%}
    20% {left: 35%}
    30% {left: 55%}
    50% {left: 35%}
    70% {left: 35%}
    80% {left: 20%}
    100% {left: 35%}
}

#UIbottom{
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

button{
    background-color: transparent;
    border-color: transparent;
    outline-color: transparent;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    opacity: 100%;
    animation-name: button_show;
    animation-duration: 400ms;
}

@keyframes button_show{
    0% {opacity: 0}
    100% {opacity: 100;}
}
/* odstrani outline pri kliknuti na tlacitko*/
button:focus{ outline:0 }

button:active {
    opacity: 100;
    visibility: visible;
    animation-name: button_end;
    animation-duration: 150ms;
}

@keyframes button_end{
    0% {opacity: 100}
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}
