img {
    position: relative;
    width: 100%;

}

.container p{
    position: relative;
    top: 0;
    left: 0;
    margin: 5px;
}

.box1 {
    background-color: greenyellow;
    position: sticky;
    top: 0;
    left: 0;
}
.box2 {
    background-color: aqua;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: -1;
}
.box3 {
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    left: 0;
}
.box4 {
    background-color: cyan;
    position: relative;
    top: 50px;
    left: 50px;
}
.box5 {
    background-color: darkcyan;
}

